.profile-to-post{
    display: flex;
    margin-bottom: 40px;
}

.profile-to-post>div{
    flex-direction: column;
    padding: 12px;
}
.profile-to-post>div>h2{
    padding-bottom: 8px;
}

.profile-to-post>img{
    width: var(--img-width);
}

.text-to-post{
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-bottom: 40px;
}

.text-to-post > button{
    height: 38px;
    width: 69px;
    align-self: flex-end;
    color: var(--color-grey-3);
    background-color: var(--color-grey-4);
    border: none;
    border-radius: 4px;
    font-weight: 600;
}
